tidyup
#use flake
use nvidia

layout conda 3.9
#export ENVNAME=python

export_alias build 'clear && cd $(git rev-parse --show-toplevel) && python src/main.py'
export_alias run 'echo "------------------"'
